<div class="submission" id="submission_<%= submission.id %>">
  <div class="row">
    <div class="col-md-1 offset-md-2">
      <%= submission.user.username %>
    </div>
    <div class="col-md-6">
      <% unless submission.title.nil? %>
        <%= submission.title %>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= render "shared/likes", object: submission %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-3">
      <section>
        <%= image_tag submission.link, width: 400 %>
      </section>
      <% unless submission.description.nil? %>
        <p><%= submission.description %></p>
      <% end %>

      <div>
        <%= time_ago_in_words submission.created_at %> ago
        <% if user_signed_in? && current_user == submission.user %>
          |
          <%= link_to "edit",
                      edit_battle_submission_path(submission.battle, submission),
                      remote: true %>
          |
          <%= link_to "delete", [submission.battle, submission],
                                method: :delete, remote: true,
                                data: {confirm: "You sure?"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
